<ion-content class="bg">
    <div class=con>
      <div class="intro">
        <img src="assets/imgs/weath_home_1.png" alt="">
        <div>Welcome</div>
        <small >Smart Wallet</small>
      </div>
      <div class="bottom">
        <div class=btn (click)="login()">
          <div>login</div>
        </div>
      </div>
    </div>
  </ion-content>