page-login {
    .con{
        background-color: #f3c148;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .intro{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #ffffff;
            width: 100%;
            padding: 20px;
            div{
                font-size: 30px;
            }
            small{
                font-size: 30px;
            }
        }
        .bottom{
            padding: 50px;
            .btn{
                height: 40px;
                width: 200px;
                background-color: #EAE8E4;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #544259;
                font-size: 16px;
                box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
            }
        }
    }
    
}
