page-home {
    .all-m{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logout{
        position: absolute;
        top:10px;
        right: 10px;
        width: 30px;
        height: 30px;
        // background-color: red;
    }
    .hhhx{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ffffff;
        padding: 10px;
        text-align: center;
        color: #ffffff;
    }
    .hhh{
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        text-align: center;
        img{
            width: 20px;
            height: 20px;
        }
    }
    .black-over{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .model-get{
            width: 100%;
            height: 300px;
            background-color: #ffffff;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            .close{
                width: 20px;
                height: 20px;
                // background-color: red;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    .map{
        height: 100%;
        width: 100%;
        top: 300px;
        -webkit-transition: top 1s ease;
        transition: top 1s ease;
        &.active{
            top: 100%;
        }
    }
    .camera{
        color: #ffffff;
    }
    .box{
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        top: 0;
        -webkit-transition: top 1s ease;
        transition: top 1s ease;
        &.active{
            top: -100%;
        }
    }
    .back{
        // background-color: rgba(0, 0, 0, 0.5)
        overflow: hidden;
        width: 100%;
        background-color: #000000;
    
    }
    .headx{
        // margin: 20px;
        .text-h{
            font-size: 30px;
            text-align: center;
            padding: 10px;
        }
    }
    .top-item{
        width: 120px;
        height: 120px;
        // background-color: black;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        .atom{
            position: absolute;
            width: 10px;
            height: 10px;
            left: 0;
            top:50%;
            border-radius: 50%;
            background-color: #f3c148;
            transform-origin: 60px 0;
            animation: spin 2000ms infinite linear;
        }
        .line-circle{
            width: 110px;
            height: 110px;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            border: 1px solid rgba(186,214,77,0.3);
            box-shadow: 0px 0px 10px #f3c148;
        }

        .atom-2{
            position: absolute;
            width: 15px;
            height: 15px;
            left: 15px;
            top:50%;
            border-radius: 50%;
            background-color: #f3c148;
            transform-origin: 45px 0;
            animation: spin 6000ms infinite linear;
            &.a2{
                width: 10px;
                height: 10px;
                transform-origin: 45px 0;
                left: 15px;
                animation: spin 3000ms infinite linear;
            }
            &.a3{
                width: 5px;
                height: 5px;
                left: 17.5px;
                transform-origin: 42.5px 0;
                animation: spin 1000ms infinite linear;
            }
        }
        .line-circle-2{
            width: 80px;
            height: 80px;
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 50%;
            border: 1px solid rgba(186,214,77,0.3);
            // box-shadow: 0px 0px 5px #D3EB74;
        }

        .text{
            text-align: center;
            .big{
                font-size: 25px;
            }
            .small{
                font-size: 10px;
                margin-top: -5px;
            }
        }
    }


    .bg-wave{
        display: block;
        height: 150px;
        // background-color: #000000;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .wave{
            width: 600px;
            height: 600px;
            border-radius: 50%;
            background-color: rgba(186,214,77,0.8);
            transform-origin: 50% 55%;
            animation: spin 2000ms infinite linear;
            position: absolute;
            &.w2{
                animation: spin 2500ms infinite linear;
            }
            &.w3{
                animation: spin 3000ms infinite linear;
            }
        }
    }


    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        .menu-item{
            flex: 1;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            // border: 1px solid rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 16px;
            color: #544259;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            img{
                width: 30px;
                height: 30px;
            }
            &.y{
                background-color: #f3c148;
                color: #ffffff;
            }
        }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    // .flex-wrapper {
    //     display: flex;
    //     flex-flow: row nowrap;
    //   }
      
    //   .single-chart {
    //     width: 33%;
    //     justify-content: space-around ;
    //   }
      
    //   .circular-chart {
    //     display: block;
    //     margin: 10px auto;
    //     max-width: 80%;
    //     max-height: 250px;
    //   }
      
    //   .circle-bg {
    //     fill: none;
    //     stroke: #eee;
    //     stroke-width: 3.8;
    //   }
      
    //   .circle {
    //     fill: none;
    //     stroke-width: 2.8;
    //     stroke-linecap: round;
    //     animation: progress 1s ease-out forwards;
    //   }
      
    //   @keyframes progress {
    //     0% {
    //       stroke-dasharray: 0 100;
    //     }
    //   }
      
    //   .circular-chart.orange .circle {
    //     stroke: #ff9f00;
    //   }
      
    //   .circular-chart.green .circle {
    //     stroke: #4CC790;
    //   }
      
    //   .circular-chart.blue .circle {
    //     stroke: #3c9ee5;
    //   }
      
    //   .percentage {
    //     fill: #666;
    //     font-family: sans-serif;
    //     font-size: 0.5em;
    //     text-anchor: middle;
    //   }
}