<ion-content class="back">
  <div class="all-m">
    <div [class]="isPay?'box active':'box'">
      <div class="logout" (click)="logout()">
        <img src="assets/imgs/logout.png" alt="">
      </div>
      <div class="headx">
        <div class="text-h">กระเป๋าตังของคุณ</div>
        <div class="top-item">
          <div class="atom"></div>
          <div class="atom-2"></div>
          <div class="atom-2 a2"></div>
          <div class="atom-2 a3"></div>
          <div class="line-circle"></div>
          <div class="line-circle-2"></div>
          <div class="text">
            <div class="big">500</div>
            <div class="small">บาท</div>
          </div>
        </div>
      </div>

      <div class="menu">
        <div class="menu-item" (click)="qr()">
          <img src="assets/imgs/hand.png" alt="">
          <div>รับเงิน</div>
        </div>
        <div class="menu-item y" (click)="pay()">
          <img src="assets/imgs/card.png" alt="">
          <div>จ่ายเงิน</div>
        </div>
      </div>
    </div>

    <div class="hhhx" *ngIf="isPay">
      <div>สแกน QR Code จ่ายเงิน</div>
    </div>
    <div class="hhh" *ngIf="isPay" (click)="pay()">
      <img src="assets/imgs/up-arrow.png" alt="">
    </div>
    <div class="black-over" *ngIf="isQr">
      <div class="model-get">
        <img src="assets/imgs/qr.png" alt="">
        <div>คิวอาโค้ด ใช้แสกนเพื่อรับเงิน</div>
        <div class="close" (click)="qr()">
          <img src="assets/imgs/delete.png" alt="">
        </div>
      </div>
    </div>


    <div #map id="map" [class]="isPay?'map active':'map'"></div>
  </div>
</ion-content>